@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    margin: 0;
}


/* ***********************************
************** HELPER ****************
*********************************** */

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.center {
    text-align: center;
}

.overlay {
    background: black;
    opacity: 0.8;
}


/* ***********************************
************** INTRO *****************
*********************************** */

.background {
    z-index: -2;
}

.header {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}


/* ***********************************
************** CONTENT ***************
*********************************** */

.content {
    margin-top: 1080px;
    line-height: 0px;
}


/* ***********************************
********* PHOTO POSITIONING **********
*********************************** */

.left {
    float: left;
}

.square {
    width: 40%;
}

.landscape {
    width: 60%;
}

.full {
    width: 100%;
}

#hm {
    width: 57%;
    float: left;
}

#hope {
    width: 43%;
}
