@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000000;
    color: #ffffff;
}


/* ***********************************
************** INTRO *****************
*********************************** */

.background-photo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    object-fit: contain;
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.center {
    text-align: center;
}

.header {
    opacity: .80;
    top: 40%;
}

.title {
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.caption {
    font-size: 2em;
}

.button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0.8;
    cursor: pointer;
    /*-webkit-transition: all 0.5s ease-in;*/
    /*transition: all 0.5s ease-in;*/
}

.button:focus {
    outline: none;
}

.contact {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: -1;
}

.info-box {
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 125px;
    right: 35px;
    width: 136px;
    height: 30px;
    background-color: #000000;
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#info {
    margin-left: 8px;
    margin-top: 2px;
    font-family: monospace;
    font-size: 1.3em;
    color: #ffffff;
    opacity: 0.8;
}

.arrow {
    position: fixed;
    bottom: 35px;
    z-index: -1;
    width: 100%;
}

@media (min-width: 768px) {
    .button:hover {
        background-color: #000000;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .background-photo {
        display: none;
    }
    .title {
        font-size: 3em;
    }
    .button {
        font-size: 1em;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .caption {
        font-size: 1em;
    }
    .contact {
        top: 20px;
        right: 20px;
    }
    .info-box {
        background-color: #ffffff;
        top: 65px;
        right: 20px;
        width: 67px;
        height: 20px;
    }
    #info {
        color: #000000;
        font-family: inherit;
        margin-left: 3px;
        margin-top: 2px;
        font-size: 0.8em;
    }
    .arrow {
        bottom: 20px;
    }
}


/* ***********************************
************ SITE CONTENT ************
*********************************** */

.content {
    margin-top: 1080px;
    line-height: 0;
}

.content img {
    width: 100%;
}

.content-panel {
    display: inline-block;
    background-color: #ffffff;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.last {
    padding-bottom: 4%;
}

@media (min-width: 768px) {
    .content-panel {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
    }
    .last {
        padding-bottom: 2%;
    }
}


/* ***********************************
********** PHOTO HOVERING ************
*********************************** */

.hover-effect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hover-effect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover-effect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

@media (min-width: 768px) {
    .hover-effect:hover {
        cursor: pointer;
    }
    .hover-effect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
        filter: grayscale(1) blur(3px);
        -webkit-filter: grayscale(1) blur(3px);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}


/* ***********************************
********* PHOTO POSITIONING **********
*********************************** */

.left {
    float: left;
}

.right {
    float: right;
}

.square {
    width: 40%;
}

.landscape {
    width: 60%;
}

.full {
    width: 100%;
}

#hm {
    width: 57%;
    float: left;
}

#hope {
    width: 43%;
}


/* ***********************************
************** MODAL *****************
*********************************** */

.vertical-align-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.img-preview {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}

.modal-content {
    border-radius: 0;
    width: 90%;
    height: auto;
    margin: 0 auto;
    pointer-events: all;
}

.modal-body {
    padding: 0;
}

@media (max-width: 768px) {
    .modal-content {
        width: auto;
    }
}
